body {
    margin: 0;
    font-family: 'MuseoSansCyrl';
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0 0 10px;
  }

  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-900.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-900.svg') format('svg');
    font-weight: 700;
    font-style: normal;
  }


  /*container*/
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

  /*header*/
.header {
    background-color: #66B5FF;
    background-image: url(../images/headerback.svg);
    background-size: cover;
    background-position: bottom;
    max-height: 100%;
    height: 180px;
}

.header-inner {
    display: flex;
    justify-content: space-between;

}

.header-logo {
    margin-top: 25px;

}

.header-nav {
    display: flex;
    margin-top: 71px;
  }

.header-link {
    font-family: 'MuseoSansCyrl';
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

/* Progress bar */
.progress-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-bar {
  height: 5px;
  background: #FF7C2E;
  width: 0%;
}
/* END - Progress bar */

/*intro*/
.intro {
  background-image: url(../images/introback.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 920px;
  width: 100%;

}

.intro-inner {
  display: flex;
  justify-content: space-between;
}

.intro-left {
  display: inline-block;
  margin-right: 75px;
}

.intro-text {
  padding-left: 35px;
  margin-bottom: 62px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 120%;
}

.intro-list {
  padding-left: 35px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  position: relative;
  margin-bottom: 80px;
}

.list-item {
  position: relative;
  padding-left: 67px;
  margin-bottom: 30px;
  padding-top: 6px;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(../images/introlist.svg);
  background-repeat: no-repeat;
  background-size: initial;
}

.intro-btn {
  display: inline-block;
  margin-left: 35px;
  padding: 17px 74px;
  background: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FF7C2E;
  text-decoration: none;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

.intro-btn:hover {
  background-color: #FF7C2E;
  color: #fff;
}

/*info*/
.info {

}

.info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 118px;
}

.info-left {
  flex:0 1 auto;
  width: 615px;
  height: 540px;
}

.info-text {
  font-size: 30px;
  line-height: 150%;
}

.info-text span {
  color: #0070DA;
  font-weight: 700;
}

.info-text p {
  margin-bottom: 50px;
}

.info-img {
  color:greenyellow;
  position: relative;
}

.info-logo {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*about*/
.about {
  width: 100%;
  height: 1440px;
  background-image: url(../images/aboutback.jpg);
  background-repeat: no-repeat;
  background-position-y: -280px;
}

.about-inner {
  margin-bottom: 250px;
}

.about-header {
  width: 100%;
  max-width: 740px;
  padding-top: 250px;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
  margin-bottom: 40px;
}

.about-suptitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 150%;
}

.about-columns {
  display: flex;
  justify-content: space-between;

}

.about-left {
  padding-top: 117px;
  position: relative;
}

.about-img {
  position: absolute;
  left:-245px;
}

.about-right {
  width: 472px;
  padding-top: 100px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
  margin-bottom: 10px;
}

.about-right p {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 150%;
}

.about-right p:last-child {
  margin-bottom: 0;
}

/*section text*/
.section-text {
  width: 100%;
  height: 868px;
}

.text-anim {
  position: relative;
}

.text-img {
  position: absolute;
}

.text-img-1 {
  top: 163px;
  left: 366px;
}

.text-img-2 {
  top: 213px;
  left: 123px;
}

.text-img-3 {
  top:258px;
  left: 267px;
}

.text-img-4 {
  top: 452px;
  left: 399px;
}

.text-img-5 {
  top: 605px;
  left: 403px;
}

.text-img-6 {
  top: 594px;
  left: 604px;
  animation: rotate 3s linear infinite;
  animation-direction: reverse;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.text-img-7 {
  top: 610px;
  left: 849px;
}

.text-img-8 {
  top: 140px;
  left: 996px;
}

.text-img-9 {
  top: 151px;
  left: 1610px;
}

.text-img-10 {
  top: 218px;
  left: 1388px;
}

.text-img-11 {
  top: 376px;
  left: 1586px;
}

.text-img-12 {
  top: 526px;
  left: 1330px;
  animation: rotate 4s linear infinite;
  animation-direction: reverse;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.text-img-13 {
  top: 588px;
  left: 1543px;
}

.text-img-14 {
  top: 720px;
  left: 1172px;
}

.text-inner {
  margin: 0 auto;
  padding-top: 290px;
  width: 100%;
  width: 681px;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
}

.text-inner span {
  color: #0070DA;
  font-weight: 700;
}

/*salary*/
.salary {
  width: 100%;
  height: 985px;
  background-image: url(../images/salaryback.jpg);
}

.salary-inner {
  position: relative;
}

.arrow {
  position: absolute;
}

.arrow-1 {
  top: 340px;
  left: 290px;
}

.arrow-2 {
  top: 730px;
  left: 677px;
}

.salary-header {
  padding-top: 147px;
  width: 100%;
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 236px;
}

.salary-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
}

.salary-block {
  display: flex;
}

.salary-col {
  flex: 1 1 auto;
  width: 400px;
  height: 289px;
  align-items: center;
  text-align: center;
  border-right: 3px solid rgba(0, 112, 218, 0.5);
}

.salary-col:last-child {
  border-right: none;
}

.salary-exp {
  font-size: 30px;
  line-height: 36px;
  padding: 50px 0 40px;
  border-bottom: 3px solid rgba(0, 112, 218, 0.5);
}

.salary-sum {
  font-size: 40px;
  line-height: 120%;
  padding-top: 29px;
  color: #E34E1A;
}

/*subscribe*/
.subscribe {
  margin-top: 165px;
  width: 100%;
  height: 1175px;
  background-image: url(../images/subscribeback.svg);
  background-position: 0 -240px;
  background-repeat: no-repeat;
  position: relative;
}

.subscribe-content {
  display: flex;

}

.subscribe-text {
  width: 550px;
  padding-top: 379px;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}

.subscribe-image {
  position: relative;
}

.subscribe-anim {
 position: absolute;
 animation-name: subscribe-anim;
 animation-duration: 7s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes subscribe-anim {
  0% {
    transform: translate3d(-50px, 20px, 0);
  }
  100% {
    transform: translate3d(50px, -20px, 100px);
  }
}

.subscribe-form {
  padding-top: 151px;
  display: flex;
  justify-content: space-between;
}

.subscribe-input input {
  width: 260px;
  height: 65px;
  border: 3px solid #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
  background-color: #FF7C2E;
  font-size: 20px;
  line-height: 24px;
  padding-left: 30px;
}


.subscribe-button button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #0070DA;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 33px;
}

/*modules*/
.modules {
  width: 100%;
  min-height: 1320px;
  padding-top: 230px;
  margin-top: -286px;
  background-image: url(../images/modulesback.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
}

.modules-header {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 125px;
}

.modules-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.modules-item {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  position: relative;
  height: 100%;
  height: 635px;
  width: 360px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

.modules-item-image {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 60%);
}

.modules-item-title {
  padding-top: 270px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
}

.modules-item-list {
  padding-top: 66px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: left;
}

.modules-btn {
  display:block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #FF7C2E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 21px 83px;
}

.modules-btn:hover {
  background: #fff;
  color: #FF7C2E;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

/*faq*/
.faq {
  margin-bottom: 176px;

}

.faq-header {
  padding-top: 86px;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.accordion-item {
  margin-bottom: 10px;
  background: #66B5FF;
  padding: 40px 40px 40px 36px;
}

.accordion-item-trigger {
  background: #66B5FF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  cursor: pointer;
  position: relative;
}

.accordion-item-trigger-icon {
  content: "";
  display: block;
  position: absolute;
  background-color: #FF7C2E;
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accordion-item-content {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;

  transition: all 600ms ease-in-out;
  max-height: 0;
  opacity: 0;
}

.accordion-item.is-active .accordion-item-content {
  max-height: 500px;
  opacity: 1;
}

/* Animation: Plus / Minus */
.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.is-active {
  opacity: 1;
}
.is-active .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.is-active .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-plus .circle {
  position: relative;
  width: 2.55em;
  height: 2.5em;
  border-radius: 100%;
}

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 5px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #fff;
  width: 5px;
  height: 30px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px;
}
/* END - Animation: Plus / Minus */

/*education*/
.education {
  width: 100%;
  height: 892px;
  background-image: url(../images/educationback.jpg);
  margin-bottom: 106px;
}

.education-inner {

}

.education-header {
  padding-top: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 91px;
}

.education-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 55px;
}

.education-subtitle {
  display: inline-block;
  width: 100%;
  max-width: 547px;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
}

.education-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-input input {
  width: 760px;
  height: 50px;
  border: 3px solid #FFFFFF;
  color: rgba(255, 255, 255, 0.6);
  background-color: #FF7C2E;
  font-size: 20px;
  line-height: 24px;
  padding-left: 30px;
  margin-bottom: 27px;
}

.education-button button {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  background: #0070DA;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 285px;
}

/*footer*/
.footer {
  background-image: url(../images/footerback2.svg), url(../images/footerback1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-inner {
  padding-top: 498px;
}

.footer-logo {
  width: 100%;
  text-align: center;
  margin-bottom: 92px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;
}

.footer-contacts a {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-icons {
  width: 100%;
  max-width: 213px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.footer-icons-link {
  width: 55px;
  height: 55px;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #0070DA;
  font-size: 30px;
  text-decoration: none;
  padding-top: 13px;
  text-align: center;
}

/*scroll-top*/
.widget-scroll-top {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 9px;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s linear;
  cursor: pointer;
}

.widget-scroll-top.is-visible {
  opacity: 1;
  visibility: visible;
}














































