body {
    margin: 0;
    font-family: 'MuseoSansCyrl';
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 10px;
  }

  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-900.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-900.svg') format('svg');
    font-weight: 700;
    font-style: normal;
  }
  

  /*container*/
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

  /*header*/
.header {
    background-color: #66B5FF;
    background-image: url(../images/headerback.svg);
    background-size: cover;
    background-position: bottom;
    max-height: 100%;
    height: 180px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    
}

.header-logo {
    margin-top: 25px;
    
}

.header-nav {
    display: flex;
    margin-top: 71px;
  }

.header-link {
    font-family: 'MuseoSansCyrl';
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

/*intro*/
.intro {
  background-image: url(../images/introback.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 920px;
  width: 100%;
  
}

.intro-inner {
  display: flex;
  justify-content: space-between;
}

.intro-left {
  display: inline-block;
  margin-right: 75px;
}

.intro-text {
  padding-left: 35px;
  margin-bottom: 62px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  line-height: 120%;
}

.intro-list {
  padding-left: 35px;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px; 
  position: relative;
  margin-bottom: 80px;
}

.list-item {
  position: relative;
  padding-left: 67px;
  margin-bottom: 30px;
  padding-top: 6px;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(../images/introlist.svg);
  background-repeat: no-repeat;
  background-size: initial;
}

.intro-btn {
  display: inline-block;
  margin-left: 35px;
  padding: 17px 74px;
  background: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FF7C2E;
  text-decoration: none;
  transition: color 0.2s linear;
  transition: background-color 0.2s linear;
}

.intro-btn:hover {
  background-color: #FF7C2E;
  color: #fff;
}

/*info*/
.info {
  
}

.info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 118px;
}

.info-left {
  flex:0 1 auto;
  width: 615px;
  height: 540px;
}

.info-text {
  font-size: 30px;
  line-height: 150%;
}

.info-text span {
  color: #0070DA;
  font-weight: 700;
}

.info-text p {
  margin-bottom: 50px;
}

.info-img {
  color:greenyellow;
  position: relative;
}

.info-logo {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*about*/
.about {
  width: 100%;
  height: 1440px;
  background-image: url(../images/aboutback.jpg);
  background-repeat: no-repeat;
  background-position-y: -280px;
}

.about-inner {
  margin-bottom: 250px;
}

.about-header {
  width: 100%;
  max-width: 740px;
  padding-top: 250px;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
  margin-bottom: 40px;
}

.about-suptitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 150%;
}

.about-columns {
  display: flex;
  justify-content: space-between;
  
}

.about-left {
  padding-top: 117px;
  position: relative;
}

.about-img {
  position: absolute;
  left:-245px;
}

.about-right {
  width: 472px;
  padding-top: 100px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
  margin-bottom: 10px;
}

.about-right p {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 150%;
}

.about-right p:last-child {
  margin-bottom: 0;
}

/*section text*/
.section-text {
  width: 100%;
  height: 868px;
  background-image: url(../images/textback1.png), url(../images/textback2.png);
}

.text-inner {
  margin: 0 auto;
  padding-top: 290px;
  width: 100%;
  width: 681px;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  
}

.text-inner span {
  color: #0070DA;
  font-weight: 700;
}

/*salary*/
.salary {
  width: 100%;
  height: 985px;
  background-image: url(../images/salary.jpg);
}

.salary-inner {

}

.salary-header {
  padding-top: 147px;
  width: 100%;
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 236px;
}

.salary-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FF7C2E;
}

.salary-block {
  display: flex;
}

.salary-col {
  flex: 1 1 auto;
  width: 400px;
  height: 289px;
  align-items: center;
  text-align: center;
  border-right: 3px solid rgba(0, 112, 218, 0.5);
}

.salary-col:last-child {
  border-right: none;
}

.salary-exp {
  font-size: 30px;
  line-height: 36px;
  padding: 50px 0 40px;
  border-bottom: 3px solid rgba(0, 112, 218, 0.5);
}

.salary-sum {
  font-size: 40px;
  line-height: 120%;
  padding-top: 29px;
  color: #E34E1A;
}

/*subscribe*/
.subscribe {
  margin-top: 165px;
  width: 100%;
  height: 1155px;
  background-image: url(../images/subscribeback.svg);
  background-position: 0 -240px;
}

.subscribe-content {
  display: flex;
  justify-content: space-between;
}

.subscribe-text {
  width: 553px;
  padding-top: 379px;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
}

.subscribe-image {
  animation-name: subscribe-image;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes subscribe-image {
  0% {
    left:0;
  }
  100% {
    left: 500px;
  }
}

.subscribe-form {
  padding-top: 151px;
}




































