/*section text*/
.section-text {
  width: 100%;
  height: 868px;
  position: relative;

  .background-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .background-container-inner {
    position: relative;
    left: -20%;
    z-index: 0;


    @include media("<=desktop") {
      transform: translate(-25%);
    }

    @include media("<=tablet") {
      transform: translate(-65%);
    }

    @include media("<=414px") {
      transform: translate(-140%);
    }
  }

  .text-anim {
    position: absolute;
    &-4 {
      top: 452px;
      left: 399px;
      animation-name: zoom;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    &-14 {
      top: 720px;
      left: 1172px;
      animation-name: zoom;
      animation-duration: 8s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .text-img {
    position: absolute;
    &-1 {
      top: 133px;
      left: 456px;
      animation-name: square;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-2 {
      top: 213px;
      left: 123px;
      width: 110px;
      height: 110px;
      animation-name: cross;
      animation-duration: 14s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-3 {
      top:278px;
      left: 267px;
      animation-name: rotate;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-4 {
      top: 0;
      left: 0;
      animation-name: rotate;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-5 {
      top: 605px;
      left: 403px;
      animation-name: cross;
      animation-duration: 12s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-6 {
      top: 594px;
      left: 604px;
      width: 100px;
      height: 100px;
      animation: rotate 3s linear infinite;
      animation-direction: reverse;
    }
    
    &-7 {
      top: 610px;
      left: 849px;
      animation-name: square;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-8 {
      top: 140px;
      left: 996px;
      animation: rotate 6s linear infinite;
      width: 140px;
      height: 140px;
    }
    
    &-9 {
      top: 151px;
      left: 1610px;
      animation: rotate 4s linear infinite;
    }
    
    &-10 {
      top: 218px;
      left: 1388px;
      width: 120px;
      height: 120px;
      animation-name: square;
      animation-duration: 12s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-11 {
      top: 376px;
      left: 1586px;
      width: 120px;
      height: 120px;
      animation-name: cross;
      animation-duration: 12s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-12 {
      top: 526px;
      left: 1330px;
      animation: rotate 4s linear infinite;
      animation-direction: reverse;
    }
    
    &-13 {
      top: 588px;
      left: 1543px;
      animation-name: cross;
      animation-duration: 14s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    &-14 {
      top: 0;
      left: 0;
      animation: rotate 5s linear infinite;
    }
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(1, 1)
    }
    50% {
      transform: scale(1.5, 1.5)
    }
    100% {
      transform: scale(1, 1)
    }
  }
  @keyframes square {
    0% { transform:  translate(0 ,0);}
    25% { transform:  translateX(130px) translateY(50px) rotate(50deg);}
    50% { transform:  translateY(100px);}
    75% { transform:  translateX(-50px) rotate(50deg);}
}
@keyframes cross {
  0% { transform:  translate(0 ,0);}
  25% { transform:  translateX(-80px) translateY(30px) rotate(45deg);}
  50% { transform:  translateY(50px) rotate(45deg);}
  
}
}
  
.text-inner {
  margin: 0 auto;
  padding-top: 290px;
  width: 100%;
  max-width: 681px;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  position: relative;
  z-index: 1;

  @include media("<=tablet") {
    font-size: 26px;
    max-width: 600px;
  }
  @include media("<=414px") {
    font-size: 20px;
    max-width: 320px;
  }
  @include media ("<=320px") {
    max-width: 300px;
  }
}

.text-inner span {
  color: #0070DA;
  font-weight: 700;
}
  