/*salary*/
.salary {
    width: 100%;
    height: 985px;
    position: relative;
   
  }

  .salary-bacground {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .salary-background-inner {
    position: relative;
  }

  .salary-background-img {
    max-width: 100%;
    position: absolute;
  }
  
  .salary-inner {
    position: relative;
    width: 100%;
    max-width: 1160px;
  }
  
  .arrow {
    position: absolute;
  }
  
  .arrow-1 {
    top: 340px;
    left: 290px;
  }
  
  .arrow-2 {
    top: 730px;
    left: 677px;
  }
  
  .salary-header {
    padding-top: 147px;
    width: 100%;
    max-width: 864px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 236px;
  }
  
  .salary-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
  }
  
  .salary-block {
    display: flex;
    width: 100%;
    max-width: 1160px;
  }
  
  .salary-col {
    flex: 1 1 auto;
    width: 400px;
    height: 289px;
    align-items: center;
    text-align: center;
    border-right: 3px solid rgba(0, 112, 218, 0.5);
  }
  
  .salary-col:last-child {
    border-right: none;
  }
  
  .salary-exp {
    font-size: 30px;
    line-height: 36px;
    padding: 50px 0 40px;
    border-bottom: 3px solid rgba(0, 112, 218, 0.5);
  }
  
  .salary-sum {
    font-size: 40px;
    line-height: 120%;
    padding-top: 29px;
    color: #E34E1A;
  }
  