/*salary*/
.salary {
    width: 100%;
    height: 100%;
    position: relative;
   
  }

  .salary-bacground {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .salary-background-inner {
    position: relative;
  }

  .salary-background-img {
    max-width: 100%;
    position: absolute;
    @include media("<=414px") {
      transform: rotate(90deg);
      max-width: 750px;
      left: -180px;
    }
    @include media("<=375px") {
      left: -220px;
    }
    @include media("<=phone") {
      left: -250px;
    }
  }
  
  .salary-inner {
    position: relative;
    width: 100%;
    max-width: 1160px;
  }
  
  .arrow {
    position: absolute;
  }
  
  .arrow-1 {
    top: 340px;
    left: 290px;
    @include media("<=1200px") {
      top: 220px;
      left: 320px;
    }
    @include media("<=desktop") {
      width: 100px;
      top: 160px;
      left: 370px;
    }
    @include media("<=tablet") {
      width: 80px;
      top: 145px;
      left: 270px;
    }
    @include media("<=414px") {
      transform: rotate(90deg);
      top: 160px;
    }
  }
  
  .arrow-2 {
    top: 730px;
    left: 677px;
    @include media("<=1200px") {
      top: 450px;
    }
    @include media("<=desktop") {
      width: 100px;
      top: 400px;
      left: 570px;
    }
    @include media("<=tablet") {
      width: 80px;
      top: 300px;
      left: 420px;
    }
    @include media ("<=414px") {
      left: 60px;
      transform: rotate(90deg);
      top: 270px;
    }
  }
  
  .salary-header {
    padding-top: 147px;
    width: 100%;
    max-width: 864px;
    margin: 0 auto;
    text-align: center;
    @include media("<=desktop") {
      padding-top: 100px;
    }
    @include media("<=tablet") {
      padding-top: 60px;
      max-width: 400px;
    }
    @include media("<=414px") {
      max-width: 200px;
      padding-top: 30px;
    }
  }
  
  .salary-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    @include media("<=1200px") {
      font-size: 40px;
    }
    @include media("<=desktop") {
      font-size: 36px;
    }
    @include media("<=tablet") {
      font-size: 32px;
    }
    @include media("<=414px") {
      font-size: 22px;
    }
  }
  
  .salary-block {
    display: flex;
    width: 100%;
    max-width: 1160px;
    padding-top: 236px;
    @include media("<=1200px") {
      padding-top: 80px;
      max-width: 800px;
      margin: 0 auto;
    }
    @include media("<=desktop") {
      padding-top: 60px;
      max-width: 600px;
    }
    @include media("<=tablet") {
      padding-top: 40px;
      max-width: 400px;
    }
    @include media("<=414px") {
      flex-direction: column;
    }
  }
  
  .salary-col {
    flex: 1 1 auto;
    width: 400px;
    height: 289px;
    align-items: center;
    text-align: center;
    border-right: 3px solid rgba(0, 112, 218, 0.5);
    @include media("<=1200px") {
      height: 200px;
    }
    @include media("<=desktop") {
      
    }
    @include media("<=tablet") {
      height: 130px;
    }
    @include media ("<=414px") {
      border-right: none;
      width: 200px;
      display: block;
      margin: 0 auto;
      height: 100px;
    }
  }
  
  .salary-col:last-child {
    border-right: none;
  }
  
  .salary-exp {
    font-size: 30px;
    line-height: 36px;
    padding: 50px 0 40px;
    border-bottom: 3px solid rgba(0, 112, 218, 0.5);
    @include media("<=1200px") {
      font-size: 30px;
      line-height: 20px;
      padding: 40px 0 25px;
    }
    @include media("<=desktop") {
      font-size: 26px;
      line-height: 20px;
      padding: 30px 10px 20px;
    }
    @include media("<=tablet") {
      font-size: 20px;
      padding: 10px 10px 5px;
    }
    @include media ("<=414px") {
      padding-bottom: 0;
    }
  }
  
  .salary-sum {
    font-size: 40px;
    line-height: 120%;
    padding-top: 29px;
    color: #E34E1A;
    @include media("<=1200px") {
      font-size: 32px;
      line-height: 20px;
    }
    @include media("<=desktop") {
      font-size: 28px;
    }
    @include media("<=tablet") {
      padding-top: 20px;
      font-size: 20px;
    }
    @include media ("<=414px") {
      
    }
  }
  