/*salary*/
.salary {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .container {
    padding: 100px 100px 200px;
    position: relative;

    @include media("<=tablet") {
      padding: 50px;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -25%;
      right: -25%;

      background: url("../images/salaryback.svg") no-repeat;
      background-size: contain;

      @include media("<=1200px") {
        left: -10%;
        right: -5%;
      }

      @include media("<=desktop") {
        left: -15%;
        right: -10%;
      }

      @include media("<=tablet") {
        left: -35%;
        right: -30%;
        background-position: center center;
      }

      @include media("<=414px") {
        background-size: cover;
      }

    }
  }
}
  
.salary-inner {
  position: relative;
  width: 100%;
  max-width: 1160px;
}
  
.arrow {
  position: absolute;
}
  
.arrow-1 {
  top: 20%;
  left: 23%;

  @include media("<=1200px") {
    transform: translateY(-49%) scale(.7);
  }
  @include media("<=desktop") {
    transform: translate(-15%, -60%) scale(.5);
  }
  @include media("<=tablet") {
    transform: translate(-25%, -70%) scale(.4);
  }
  @include media("<=414px") {
    transform: translate(43%, 25%) scale(.4) rotate(90deg)
  }
}
  
.arrow-2 {
  top: 80%;
  left: 58%;

  @include media("<=1200px") {
    transform: translate(-10%, -49%) scale(.7);
  }

  @include media("<=desktop") {
    transform: translate(-20%, -49%) scale(.5);
  }

  @include media("<=tablet") {
    transform: translate(-30%, -65%) scale(.4);
  }

  @include media ("<=414px") {
    transform: translate(-114%,-139%) scale(.4) rotate(90deg);
  }
}
  
.salary-header {
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @include media("<=desktop") {
    padding-top: 20px;

  }

  @include media("<=414px") {
    padding-top: 30px;
  }
}
  
  .salary-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    @include media("<=1200px") {
      font-size: 40px;
    }
    @include media("<=desktop") {
      font-size: 32px;
    }
    @include media("<=tablet") {
      font-size: 26px;
    }
    @include media("<=414px") {
      font-size: 22px;
    }
  }
  
  .salary-block {
    display: flex;
    width: 100%;
    max-width: 1160px;
    padding-top: 180px;
    padding-bottom: 85px;
    position: relative;

    @include media("<=1440px") {
     padding-top: 145px;
    }
    @include media("<=1200px") {
      padding-top: 80px;
      max-width: 800px;
      margin: 0 auto;
    }
    @include media("<=desktop") {
      padding-top: 60px;
      max-width: 600px;
    }
    @include media("<=tablet") {
      padding-top: 40px;
      max-width: 400px;
    }
    @include media("<=414px") {
      flex-direction: column;
    }
  }
  
  .salary-col {
    flex: 1 1 auto;
    width: 400px;
    height: 289px;
    align-items: center;
    text-align: center;
    border-right: 3px solid rgba(0, 112, 218, 0.5);
    @include media("<=1200px") {
      height: 200px;
    }
    @include media("<=desktop") {
      
    }
    @include media("<=tablet") {
      height: 130px;
    }
    @include media ("<=414px") {
      border-right: none;
      width: 200px;
      display: block;
      margin: 0 auto;
      height: 100px;
    }
  }
  
  .salary-col:last-child {
    border-right: none;
  }
  
  .salary-exp {
    font-size: 30px;
    line-height: 36px;
    padding: 50px 0 40px;
    border-bottom: 3px solid rgba(0, 112, 218, 0.5);

    @include media("<=1200px") {
      font-size: 30px;
      line-height: 20px;
      padding: 40px 0 25px;
    }

    @include media("<=desktop") {
      font-size: 26px;
      line-height: 20px;
      padding: 30px 10px 20px;
    }
    
    @include media("<=tablet") {
      font-size: 20px;
      padding: 10px 10px 5px;
    }
    @include media ("<=414px") {
      padding-bottom: 0;
    }
  }
  
  .salary-sum {
    font-size: 40px;
    line-height: 120%;
    padding-top: 29px;
    color: #E34E1A;
    @include media("<=1200px") {
      font-size: 32px;
      line-height: 20px;
    }
    @include media("<=desktop") {
      font-size: 28px;
    }
    @include media("<=tablet") {
      padding-top: 20px;
      font-size: 20px;
    }
    @include media ("<=414px") {
      
    }
  }
  