/*footer*/
.footer {
    background-image: url(../images/footerback2.svg), url(../images/footerback1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer-inner {
    padding-top: 498px;
  }
  
  .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 92px;
  }
  
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 59px;
  }
  
  .footer-contacts a {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 16px;
  }
  
  .footer-icons {
    width: 100%;
    max-width: 213px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
  }
  
  .footer-icons-link {
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #0070DA;
    font-size: 30px;
    text-decoration: none;
    padding-top: 13px;
    text-align: center;
  }

  /*scroll-top*/
.widget-scroll-top {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 9px;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear;
    cursor: pointer;
  }
  
  .widget-scroll-top.is-visible {
    opacity: 1;
    visibility: visible;
  }