/*footer*/
.footer {
    background-image: url(../images/footerback2.svg) , url(../images/footerback1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .footer-inner {
    padding-top: 498px;
    @include media("<=tablet") {
      padding-top: 400px;
    }
  }
  
  .footer-logo {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 92px;
    @include media("<=tablet") {
      margin-bottom: 80px;
    }
    @include media("<=414px") {
      margin-bottom: 40px;
    }
    img {
      @include media("<=tablet"){
        max-width: 300px;
      }
      @include media("<=414px") {
        max-width: 200px;
      }
    }
  }
  
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 59px;
    @include media("<=414px") {
      margin-bottom: 30px;
    }
  }
  
  .footer-contacts a {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 16px;
    @include media("<=414px") {
      margin-bottom: 12px;
      font-size: 20px;
    }
  }
  
  .footer-icons {
    width: 100%;
    max-width: 213px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
    @include media("<=414px") {
      max-width: 180px;
    }
  }
  
  .footer-icons-link {
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #0070DA;
    font-size: 30px;
    text-decoration: none;
    padding-top: 13px;
    text-align: center;
    @include media("<=414px") {
      width: 45px;
      height: 45px;
      font-size: 20px;
    }
  }

  /*scroll-top*/
.widget-scroll-top {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 9px;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear;
    cursor: pointer;
  }
  
  .widget-scroll-top.is-visible {
    opacity: 1;
    visibility: visible;
  }