.header {
  width: 100%;
  background-color: #66B5FF;
  background-image: url(../images/headerback.svg);
  background-size: cover;
  background-position: bottom;
  max-height: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-top: 25px;
  @include media("<=414px") {
    display: block;
    width: 100%;
  }
  img {
    @include media("<=414px") {
      display: block;
      margin: 15px auto;
      max-width: 200px;
    }
  }
}

.header-nav {
  padding-top: 40px;
  
  @include media("<=1200px") {
    padding-right: 20px;
  }

  @include media("<=tablet") {
    display: none;

    &.active {
      display: flex;
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: #66b5ff;
      z-index: 10;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: space-between;
      align-items: center;

      .header-link {
        padding: 20px;
      }

    }
  }
}

.header-link {
  font-family: 'MuseoSansCyrl';
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.burger-button {
  display: none;
  
  
  @include media("<=tablet") {
    display: block;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 200;
  }

  @include media("<=tablet") {
    &.active {
      position: fixed;
      top: 60px;
      right: 20px;
      z-index: 200;
    }
  }
  
  .line {
    height: 6px;
    width: 40px;
    margin-bottom: 7px;
    background: white;
    transition: all 200ms ease-in-out;
    opacity: 1;
    border: 1px #FF7C2E solid;
  }

  &.active {
    .line {
      &.one {
        transform: rotate(45deg) scale(1.2);
      }
      &.two {
        transform: rotate(-45deg) scale(1.2) translateY(-7px) translateX(7px);
      }
      &.three {
        opacity: 0;
      }
    } 
  }
  
}

/* Progress bar */
.progress-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-bar {
  height: 5px;
  background: #FF7C2E;
  width: 0%;
}
/* END - Progress bar */