/*about*/
.about {
  width: 100%;
  height: 1440px;
  overflow: hidden;
  background-image: url(../images/aboutback.svg);
  background-repeat: no-repeat;

  background-position: center top;
  background-size: cover;

  &-inner {
    margin-bottom: 250px;
    position: relative;
  }

  &-decoration-left {
    position: absolute;
    left: -175px;
    top: 600px;
    img {
      width: 300px;
    }
  }

  &-decoration-right {
    position: absolute;
    right: -175px;
    bottom: -300px;
    img {
      width: 300px;
    }
  }
}
  
  .about-header {
    width: 100%;
    max-width: 740px;
    padding-top: 250px;
    margin: 0 auto;
    text-align: center;
    @include media("<=tablet") {
      max-width: 500px;
    }
    @include media("<=414px") {
      max-width: 250px;
    }
  }
  
  .about-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    margin-bottom: 40px;
    @include media("<=desktop") {
      font-size: 40px;
    }
    @include media("<=414px") {
      font-size: 32px;
    }
  } 
  
  .about-suptitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    @include media("<=desktop") {
      font-size: 26px;
    }
    @include media("<=tablet") {
      font-size: 24px;
    }
    @include media("<=414px") {
      font-size: 20px;
    }
  }
  
  .about-columns {
    display: flex;
    justify-content: space-between;
    @include media("<=tablet") {
      flex-wrap: wrap;
    }
  }
  
  .about-left {
    padding-top: 117px;
    width: 100%;
    @include media("<=tablet") {
      padding-top: 30px;
    }
  }
  
  .about-img {
    margin-left: -245px;
    @include media("<=tablet") {
      display: block;
      margin: 0 auto;
      max-width: 500px;
    }
    @include media("<=414px") {
      max-width: 320px;
    }
  }
  
  .about-right {
    width: 70%;
    padding-top: 100px;
    @include media("<=tablet") {
      width: 100%;
    }
    @include media("<=414px") {
      padding-top: 70px;
    }
  }

  .about-text {
    width: 100%;
    @include media("<=tablet") {
     width: 450px;
     display: block;
     margin: 0 auto;
    }
    @include media("<=414px") {
      width: 300px;
    }
  }
  
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    margin-bottom: 10px;
    transform: translate(-120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &._active {
      transform: translate(0px,0px);
      opacity: 1;
  }
    @include media("<=desktop") {
      font-size: 26px;
    }
    @include media("<=tablet") {
      display: block;
      margin: 0 auto;
    }
    @include media("<=414px") {
      font-size: 20px;
    }
  }
  
  .about-right p {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 150%;
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;

    &._active {
      transform: translate(0px,0px);
      opacity: 1;
  }
    @include media("<=desktop") {
      font-size: 20px;
    }
    @include media("<=414px") {
      font-size: 18px;
    }
  }
  
  .about-right p:last-child {
    margin-bottom: 0;
  }