/*subscribe*/
.subscribe {
    margin-top: 150px;
    width: 100%;
    height: 1175px;
    background-image: url(../images/subscribeback.svg);
    background-position: 0 -240px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    @include media("<=1200px") {
      background-position: -240px;
    }
    @include media("<=414px") {
      background-position: -70px -220px;
    }
  }
  
  .subscribe-content {
    display: flex;
    @include media("<=414px") {
      flex-direction: column-reverse;
    }
  }
  
  .subscribe-text {
    width: 100%;
    max-width: 550px;
    padding-top: 379px;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
    transform: translate(-120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &._active {
      transform: translate(0px,0px);
      opacity: 1;
  }
    @include media("<=1200px") {
      text-align: center;
    }
    @include media("<=desktop") {
      font-size: 40px;
      padding-left: 40px;
      text-align: left;
    }
    @include media("<=tablet") {
      font-size: 32px;
      max-width: 350px;
      padding-top: 300px;
      padding-left: 50px;
    }
    @include media("<=414px") {
      text-align: center;
      font-size: 28px;
      padding-top: 350px;
      max-width: 250px;
      display: block;
      margin: 0 auto;
      padding-left: 0;
    }
  }
  
  .subscribe-image {
    position: relative;
    width: 70%;
    @include media("<=tablet") {
      width: 50%;
    }
    @include media("<=414px") {
      width: 70%;
    }
  }
  
  .subscribe-anim {
    position: absolute;
    animation-name: subscribe-anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    right: 0;
    top: 200px;
    width: 100%;
    @include media("<=414px") {
      top: 50px;
      right: -50px;
    }
  }
  
  @keyframes subscribe-anim {
    0% {
      transform: translate3d(-50px, 20px, 0);
    }
    100% {
      transform: translate3d(50px, -20px, 100px);
    }
  }
  
  .subscribe-form {
    padding-top: 151px;
    display: flex;
    justify-content: space-between;
    @include media("<=desktop") {
      justify-content: space-around;
      padding-top: 175px;
    }
    @include media("<=tablet") {
      flex-direction: column;
      display: block;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      justify-content: space-between;
    }
    @include media("<=414px") {
      max-width: 300px;
      padding-top: 80px;
    }
  }
  
  .subscribe-input input {
    width: 100%;
    max-width: 260px;
    height: 65px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #FF7C2E;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    @include media("<=desktop") {
      max-width: 220px;
      height: 54px;
    }
    @include media("<=tablet") {
      max-width: 100%;
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include media("<=414px") {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  
  
  .subscribe-button button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #0070DA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 33px;
    @include media("<=desktop") {
      font-size: 18px;
      line-height: 20px;
      padding: 17px 33px;
    }
    @include media("<=tablet") {
      width: 600px;
      max-height: 54px;
    }
    @include media("<=414px") {
      font-size: 16px;
      width: 300px;
    }
  }