/*about*/
.about {
    width: 100%;
    height: 1440px;
    background-image: url(../images/aboutback.jpg);
    background-repeat: no-repeat;
    background-position-y: -280px;
  }
  
  .about-inner {
    margin-bottom: 250px;
  }
  
  .about-header {
    width: 100%;
    max-width: 740px;
    padding-top: 250px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    margin-bottom: 40px;
  }
  
  .about-suptitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
  }
  
  .about-columns {
    display: flex;
    justify-content: space-between;
  
  }
  
  .about-left {
    padding-top: 117px;
    position: relative;
  }
  
  .about-img {
    position: absolute;
    left:-245px;
  }
  
  .about-right {
    width: 472px;
    padding-top: 100px;
  }
  
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF7C2E;
    margin-bottom: 10px;
  }
  
  .about-right p {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 150%;
  }
  
  .about-right p:last-child {
    margin-bottom: 0;
  }