/*subscribe*/
.subscribe {
    margin-top: 190px;
    width: 100%;
    height: 1175px;
    background-image: url(../images/subscribeback.svg);
    background-position: 0 -240px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-content {
    display: flex;
  
  }
  
  .subscribe-text {
    width: 550px;
    padding-top: 379px;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
  }
  
  .subscribe-image {
    position: relative;
    width: 50%;
  }
  
  .subscribe-anim {
    position: absolute;
    animation-name: subscribe-anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    right: 0;
    top: 200px;
    width: 100%;
  }
  
  @keyframes subscribe-anim {
    0% {
      transform: translate3d(-50px, 20px, 0);
    }
    100% {
      transform: translate3d(50px, -20px, 100px);
    }
  }
  
  .subscribe-form {
    padding-top: 151px;
    display: flex;
    justify-content: space-between;
  }
  
  .subscribe-input input {
    width: 260px;
    height: 65px;
    border: 3px solid #FFFFFF;
    color: rgba(255, 255, 255, 0.6);
    background-color: #FF7C2E;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
  }
  
  
  .subscribe-button button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #0070DA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 33px;
  }