body {
    margin: 0;
    font-family: 'MuseoSansCyrl';
}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0 0 10px;
  }
   
.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}